body {
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}
.widget-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 300px;
  background-color: #191c1f;
}
.left-side_container {
  display: flex;
  align-items: center;
}
.left-side_black {
  color: #191c1f;
  background-color: #f3de6d;
  font-family: "Public Sans";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  display: inline-flex;
  transform: rotate(-3deg);
  padding: 6px 10px;
  margin-right: 12px;
}
.left-side_friday {
  color: #fff;
  font-family: "Public Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
.middle-side_container {
  display: flex;
  align-items: center;
}
.middle-side_upto {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.middle-side_59 {
  margin: 0 8px;
  color: #ebc80c;
  font-family: "Public Sans";
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}
.middle-side_off {
  color: #fff;
  font-family: "Public Sans";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
.shop-now_btn {
  background-color: #ebc80c;
  padding: 0 24px;
  padding-right: 40px;
  color: #191c1f;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.168px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}
.arrow-right {
  position: absolute;
  top: 14px;
  right: 16px;
}
.close-button {
  border-radius: 2px;
  background: #303639;
  padding: 8px;
  position: absolute;
  right: 8px;
  border: none;
  cursor: pointer;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  background-color: #1b6392;
  align-items: center;
  padding: 12px 300px;
}
.welcome-text {
  font-weight: 400;
  font-size: 14px;
  color: white;
  font-family: "Public Sans", sans-serif;
}
.right-section_container {
  display: flex;
  align-items: center;
}
.social-media_container {
  display: flex;
  margin-right: 24px;
}
.social-media_container img {
  margin-right: 12px;
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.social-media_container img:last-child {
  margin-right: 0;
}
.follow-us_text {
  font-family: "Public sans", sans-serif;
  font-size: 14px;
  color: white;
  margin-right: 12px;
}
.line-1 {
  margin: 0;
}
.multi-language_container {
  display: flex;
  margin: 0 24px;
  align-items: center;
}
.lang {
  color: #fff;
  margin-right: 6px;
  font-family: "Public Sans";
  font-size: 14px;
  line-height: 20px;
}
.arrow-down {
  cursor: pointer;
  width: 12px;
  height: 12px;
}
.currency-container {
  display: flex;
  align-items: center;
}
.currency {
  color: #fff;
  margin-right: 6px;
  font-family: "Public Sans";
  font-size: 14px;
  line-height: 20px;
}

.middle-nav {
  display: flex;
  align-items: center;
  padding: 20px 300px;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  background-color: #1b6392;
}
.logo-container {
  display: flex;
  align-items: center;
  margin-right: 176px;
}
.logo-text {
  color: #fff;
  font-family: "Public Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.64px;
  margin-left: 8px;
}
.search-input {
  padding: 14px 20px;
  flex: 1;
  outline: none;
  border-radius: 2px;
  border: none;
}
.search-btn {
  padding: 10px 0;
  background-color: #fff;
  border: none;
  margin-left: -40px;
  cursor: pointer;
}
.main-icon_container {
  margin-left: 176px;
  display: flex;
  position: relative;
}
.main-icon_container img {
  margin-right: 24px;
  cursor: pointer;
}
.main-icon_container img:last-child {
  margin-right: 0;
}
.count-num {
  position: absolute;
  bottom: 18px;
  left: 16px;
  color: #1b6392;
  background-color: #ffffff;
  font-family: "Public Sans";
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}
.bottom-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px dotted #1b6392;
  padding: 16px 300px;
}
.links-container {
  display: flex;
  align-items: center;
}
.links-container p {
  margin-right: 24px;
  color: #5f6c72;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.links-container img {
  margin-right: 6px;
}
.links-container img:first-child {
  margin-right: 0;
}
.category-btn {
  padding: 14px 24px;
  padding-right: 36px;
  background: #f2f4f5;
  color: #191c1f;
  border: none;
  position: relative;
  margin-right: 24px;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.category-arrow_down {
  cursor: pointer;
  position: absolute;
  top: 14px;
  right: 16px;
}
.contacts-container {
  display: flex;
  align-items: center;
}
.phone-num {
  color: #191c1f;
  font-family: "Public Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 6px;
}
.mid-widgets_container {
  display: flex;
  padding: 24px 300px;
}
.left-widget {
  display: flex;
  flex: 2;
  background-color: #f2f4f5;
  height: 520px;
  margin-right: 24px;
  border-radius: 6px;
  position: relative;
}
.lw-description_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lw-text {
  color: #2b9be6;
  font-family: "Public Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin-left: 56px;
}
.lw-title {
  color: #191c1f;
  font-family: "Public Sans";
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  margin-left: 56px;
  margin-bottom: 16px;
}
.lw-content {
  color: #475156;
  font-family: "Public Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 56px;
  margin-bottom: 24px;
}
.lw-btn {
  width: 191px;
  padding: 0 32px;
  padding-left: 0;
  background-color: #fa8232;
  color: #fff;
  font-family: "Public Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.192px;
  text-transform: uppercase;
  position: relative;
  margin-left: 56px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}
.lw-arrow_right {
  position: absolute;
  top: 16px;
  right: 24px;
}
.dot {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 56px;
  bottom: 56px;
}
.dot1 {
  left: 72px;
}
.dot2 {
  left: 88px;
}
.xbox-image {
  width: 368px;
  height: 408px;
  flex-shrink: 0;
  padding: 56px 56px 56px 36px;
}
.xbox-image_price {
  color: #fff;
  font-family: "Public Sans";
  font-size: 22px;
  font-weight: 600;
  line-height: 100px;
  border-radius: 100px;
  border: 4px solid #fff;
  background: #2da5f3;
  padding: 0px 23px;
  position: absolute;
  top: 56px;
  right: 54px;
}
.right-widgets_container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.top-right_widget,
.bottom-right_widget {
  height: 248px;
  width: 424px;
  border-radius: 6px;
}
.top-right_widget {
  background-color: #191c1f;
  margin-bottom: 24px;
  position: relative;
}
.top-rw_title {
  color: #ebc80c;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  margin: 46px 0 8px 40px;
}
.top-rw_content {
  color: #fff;
  font-family: "Public Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-left: 40px;
  margin-bottom: 18px;
  width: 160px;
}
.top-rw_btn {
  border-radius: 2px;
  background: #fa8232;
  padding: 0 24px;
  padding-right: 44px;
  margin-left: 40px;
  border: none;
  color: #fff;
  font-family: "Public Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.168px;
  text-transform: uppercase;
  position: relative;
  width: 156px;
  cursor: pointer;
}
.arrow-right {
  position: absolute;
  top: 14px;
  right: 24px;
}
.pixel6Pro {
  position: absolute;
  bottom: 0;
  right: 0;
}
.off29 {
  color: #141414;
  font-family: "Public Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border-radius: 2px;
  background: #EFD33D;
  padding: 8px 16px;
  position: absolute;
  top: 24px;
  right: 24px;
}
.bottom-right_widget {
  background-color: #f2f4f5;
  display: flex;
}
.xiaomiFlipBuds {
  margin-left: 32px;
  margin-top: 40px;
}
.bottom-rw-content_container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 40px 40px 40px 20px;
}
.bottom-rw_title {
  color: #191C1F;
  font-family: "Public Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 12px;
}
.bottom-rw_price {
  color: #2DA5F3;
  font-family: "Public Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.bottom-rw_btn {
  border-radius: 2px;
  background: #fa8232;
  padding: 0 24px;
  padding-right: 44px;
  border: none;
  color: #fff;
  font-family: "Public Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.168px;
  text-transform: uppercase;
  position: relative;
  width: 156px;
  margin-top: 20px;
  cursor: pointer;
}
