body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.main-page {
  display: flex;
  max-width: 1920px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.widget-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 300px;
  background-color: #191c1f;
}
.left-side_container {
  display: flex;
  align-items: center;
}
.left-side_black {
  color: #191c1f;
  background-color: #f3de6d;
  font-family: "Public Sans";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  display: inline-flex;
  transform: rotate(-3deg);
  padding: 6px 10px;
  margin-right: 12px;
}
.left-side_friday {
  color: #fff;
  font-family: "Public Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
.middle-side_container {
  display: flex;
  align-items: center;
}
.middle-side_upto {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.middle-side_59 {
  margin: 0 8px;
  color: #ebc80c;
  font-family: "Public Sans";
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}
.middle-side_off {
  color: #fff;
  font-family: "Public Sans";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
.shop-now_btn {
  background-color: #ebc80c;
  padding: 0 24px;
  padding-right: 40px;
  color: #191c1f;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.168px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}
.widget-arrow_right {
  position: absolute;
  top: 14px;
  right: 16px;
}
.close-button {
  border-radius: 2px;
  background: #303639;
  padding: 8px;
  position: absolute;
  right: 8px;
  border: none;
  cursor: pointer;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  background-color: #1b6392;
  align-items: center;
  padding: 12px 300px;
}
.welcome-text {
  font-weight: 400;
  font-size: 14px;
  color: white;
  font-family: "Public Sans", sans-serif;
}
.right-section_container {
  display: flex;
  align-items: center;
}
.social-media_container {
  display: flex;
  margin-right: 24px;
}
.social-media_container a {
  margin-right: 12px;
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.social-media_container img:last-child {
  margin-right: 0;
}
.follow-us_text {
  font-family: "Public sans", sans-serif;
  font-size: 14px;
  color: white;
  margin-right: 12px;
}
.line-1 {
  margin: 0;
}
.multi-language_container {
  display: flex;
  margin: 0 24px;
  align-items: center;
}
.lang {
  color: #fff;
  margin-right: 6px;
  font-family: "Public Sans";
  font-size: 14px;
  line-height: 20px;
}
.arrow-down {
  cursor: pointer;
  width: 12px;
  height: 12px;
}
.currency-container {
  display: flex;
  align-items: center;
}
.currency {
  color: #fff;
  margin-right: 6px;
  font-family: "Public Sans";
  font-size: 14px;
  line-height: 20px;
}
.middle-nav {
  display: flex;
  align-items: center;
  padding: 20px 300px;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  background-color: #1b6392;
}
.logo-container {
  display: flex;
  align-items: center;
  margin-right: 176px;
}
.logo-text {
  color: #fff;
  font-family: "Public Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.64px;
  margin-left: 8px;
}
.search-input {
  padding: 14px 20px;
  flex: 1;
  outline: none;
  border-radius: 2px;
  border: none;
}
.search-btn {
  padding: 10px 0;
  background-color: #fff;
  border: none;
  margin-left: -40px;
  cursor: pointer;
}
.main-icon_container {
  margin-left: 176px;
  display: flex;
  position: relative;
}
.cart,
.heart,
.user {
  margin-right: 24px;
  cursor: pointer;
}
.user {
  margin-right: 0;
}
.count-num {
  position: absolute;
  bottom: 18px;
  left: 16px;
  color: #1b6392;
  background-color: #ffffff;
  font-family: "Public Sans";
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}
.bottom-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid rgba(27, 99, 146, 0.1);
  padding: 16px 300px;
}
.links-container {
  display: flex;
  align-items: center;
}
.links-container a {
  display: flex;
  align-items: center;
  margin-right: 24px;
  color: #5f6c72;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
}
.pin-icon,
.compare-icon,
.headphones-icon,
.info-icon {
  margin-right: 6px;
}
.category-btn {
  padding: 14px 24px;
  padding-right: 36px;
  background: #f2f4f5;
  color: #191c1f;
  border: none;
  position: relative;
  margin-right: 24px;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}
.category-arrow_down {
  position: absolute;
  top: 14px;
  right: 16px;
}
.contacts-container {
  display: flex;
  align-items: center;
}
.phone-num {
  display: flex;
  align-items: center;
  color: #191c1f;
  font-family: "Public Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
.contacts-phone {
  margin-right: 8px;
}
.mid-widgets_container {
  display: flex;
  padding: 24px 300px;
}
.left-widget {
  display: flex;
  flex: 2;
  background-color: #f2f4f5;
  margin-right: 24px;
  border-radius: 6px;
  position: relative;
}
.lw-description_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lw-text {
  color: #2b9be6;
  font-family: "Public Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin-left: 56px;
}
.lw-title {
  color: #191c1f;
  font-family: "Public Sans";
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  margin-left: 56px;
  margin-bottom: 16px;
}
.lw-content {
  color: #475156;
  font-family: "Public Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 56px;
  margin-bottom: 24px;
}
.lw-btn {
  width: 191px;
  padding: 0 32px;
  padding-left: 0;
  background-color: #fa8232;
  color: #fff;
  font-family: "Public Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.192px;
  text-transform: uppercase;
  position: relative;
  margin-left: 56px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}
.lw-arrow_right {
  position: absolute;
  top: 16px;
  right: 24px;
}
.dot {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 56px;
  bottom: 56px;
}
.dot1 {
  left: 72px;
}
.dot2 {
  left: 88px;
}
.xbox-image {
  width: 368px;
  height: 408px;
  flex-shrink: 0;
  padding: 56px 56px 56px 36px;
}
.xbox-image_price {
  color: #fff;
  font-family: "Public Sans";
  font-size: 22px;
  font-weight: 600;
  line-height: 100px;
  border-radius: 100px;
  border: 4px solid #fff;
  background: #2da5f3;
  padding: 0px 23px;
  position: absolute;
  top: 56px;
  right: 54px;
}
.right-widgets_container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.top-right_widget,
.bottom-right_widget {
  height: 248px;
  border-radius: 6px;
}
.top-right_widget {
  background-color: #191c1f;
  margin-bottom: 24px;
  position: relative;
}
.top-rw_title {
  color: #ebc80c;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  margin: 46px 0 8px 40px;
}
.top-rw_content {
  color: #fff;
  font-family: "Public Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-left: 40px;
  margin-bottom: 18px;
  width: 160px;
}
.top-rw_btn {
  border-radius: 2px;
  background: #fa8232;
  padding: 0 24px;
  padding-right: 44px;
  margin-left: 40px;
  border: none;
  color: #fff;
  font-family: "Public Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.168px;
  text-transform: uppercase;
  position: relative;
  width: 156px;
  cursor: pointer;
}
.arrow-right {
  position: absolute;
  top: 14px;
  right: 24px;
}
.pixel6Pro {
  position: absolute;
  bottom: 0;
  right: 0;
}
.off29 {
  color: #141414;
  font-family: "Public Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border-radius: 2px;
  background: #efd33d;
  padding: 8px 16px;
  position: absolute;
  top: 24px;
  right: 24px;
}
.bottom-right_widget {
  background-color: #f2f4f5;
  display: flex;
}
.xiaomiFlipBuds {
  margin-left: 32px;
  margin-top: 40px;
}
.bottom-rw-content_container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 40px 40px 40px 20px;
}
.bottom-rw_title {
  color: #191c1f;
  font-family: "Public Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 12px;
}
.bottom-rw_price {
  color: #2da5f3;
  font-family: "Public Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.bottom-rw_btn {
  border-radius: 2px;
  background: #fa8232;
  padding: 0 24px;
  padding-right: 44px;
  border: none;
  color: #fff;
  font-family: "Public Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.168px;
  text-transform: uppercase;
  position: relative;
  width: 156px;
  margin-top: 20px;
  cursor: pointer;
}
.features-container {
  margin: 0 300px;
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  background: #fff;
  border: 1px solid#E4E7E9;
  padding: 16px;
  width: auto;
}
.delivery-container,
.return-container,
.payment-container,
.support-container {
  padding: 16px;
  padding-right: 28px;
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: auto;
}
.package-img,
.trophy-img,
.payment-img,
.support-img {
  margin-right: 16px;
}
.feat-content_container,
.return-content_container,
.payment-content_container,
.support-content_container {
  display: flex;
  flex-direction: column;
}
.delivery-title,
.return-title,
.payment-title,
.support-title {
  color: #191c1f;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}
.delivery-content,
.return-content,
.payment-content,
.support-content {
  color: #5f6c72;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.line-2 {
  height: 56px;
  margin-top: 10px;
}
.best-deals {
  margin: 72px 296px;
}
.bd-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bd-left_container {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.bd-title {
  color: #191c1f;
  font-family: "Public Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-right: 24px;
}
.bd-deals {
  color: #000;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-right: 12px;
}
.bd-countdown_container {
  display: flex;
  padding: 6px 12px;
  align-items: center;
  border-radius: 2px;
  background: #f3de6d;
}
.bd-countdown_container p {
  margin-right: 6px;
}
.bd-countdown_container p:last-child {
  margin-right: 0;
}
.bd-link_container {
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 20px;
}
.bd-link {
  color: #2da5f3;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-right: 8px;
  text-decoration: none;
}
.bd-arrow {
  position: absolute;
  right: 0;
}
.card-container {
  display: flex;
  max-width: 1320px;
  max-height: 592px;
}
.active-card {
  border: 1px solid #e4e7e9;
  background: #fff;
  max-width: 326px;
  position: relative;
}
.active-card_img {
  margin: 24px;
}
.rating-container {
  display: flex;
  margin: 0 24px 6px 24px;
}
.rating-counter {
  margin-left: 2px;
  color: #77878f;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.card-description {
  color: #191c1f;
  font-family: "Public Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 24px;
}
.price-container {
  display: flex;
  align-items: center;
  padding: 12px 24px;
}
.old-price {
  color: #adb7bc;
  font-family: "Public Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: line-through;
  margin-right: 4px;
}
.new-price {
  color: #2da5f3;
  font-family: "Public Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
.card-spec {
  color: #5f6c72;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 24px;
}
.buttons-container {
  margin: 24px;
  display: flex;
  width: 328px;
}
.favorite-btn,
.go-to-fav_btn {
  border-radius: 2px;
  background: #ffe7d6;
  position: relative;
  width: 48px;
  height: 48px;
  border: none;
  cursor: pointer;
}
.favorite-btn_icon,
.go-to-fav_icon {
  position: absolute;
  left: 12px;
  bottom: 12px;
}
.card-btn {
  border-radius: 2px;
  background: #fa8232;
  align-items: center;
  color: #fff;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.168px;
  text-transform: uppercase;
  border: none;
  margin: 0 8px;
  position: relative;
  padding-left: 24px;
  width: 174px;
  cursor: pointer;
}
.card-btn_icon {
  position: absolute;
  left: 24px;
  top: 12px;
}
.off32 {
  position: absolute;
  color: #191c1f;
  font-family: "Public Sans";
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  border-radius: 2px;
  background: #efd33d;
  left: 16px;
  top: 16px;
  padding: 5px 10px;
}
.hot {
  color: #fff;
  font-family: "Public Sans";
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  border-radius: 2px;
  background: #ee5858;
  position: absolute;
  top: 50px;
  left: 16px;
  padding: 5px 10px;
}
.regular-card_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.regular-card {
  border: 1px solid #e4e7e9;
  background: #fff;
  border-left: none;
  max-width: 246px;
  max-height: 292px;
  position: relative;
}
.reg-card-img_2 {
  margin: 16px;
  margin-bottom: 8px;
  background: url(/assets/bd-2.png);
  width: 216px;
  height: 188px;
  background-size: cover;
}
.reg-card-img_3 {
  margin: 16px;
  margin-bottom: 8px;
  background: url(/assets/bd-3.png);
  width: 216px;
  height: 188px;
  background-size: cover;
}
.reg-card-img_4 {
  margin: 16px;
  margin-bottom: 8px;
  background: url(/assets/bd-4.png);
  width: 216px;
  height: 188px;
  background-size: cover;
}
.reg-card-img_5 {
  margin: 16px;
  margin-bottom: 8px;
  background: url(/assets/bd-5.png);
  width: 216px;
  height: 188px;
  background-size: cover;
}
.reg-card-img_6 {
  margin: 16px;
  margin-bottom: 8px;
  background: url(/assets/bd-6.png);
  width: 216px;
  height: 188px;
  background-size: cover;
}
.reg-card-img_7 {
  margin: 16px;
  margin-bottom: 8px;
  background: url(/assets/bd-7.png);
  width: 216px;
  height: 188px;
  background-size: cover;
}
.reg-card-img_8 {
  margin: 16px;
  margin-bottom: 8px;
  background: url(/assets/bd-8.png);
  width: 216px;
  height: 188px;
  background-size: cover;
}
.reg-card-img_9 {
  margin: 16px;
  margin-bottom: 8px;
  background: url(/assets/bd-9.png);
  width: 216px;
  height: 188px;
  background-size: cover;
}
.reg-card-img_hover {
  width: 216px;
  height: 188px;
  background: rgb(0, 0, 0);
  opacity: 0;
  position: relative;
}
.reg-card-img_hover:hover {
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: 0.7s ease;
}
.reg-card-img_hover {
  transition: 0.7s ease;
}
.reg-card-icons_container {
  position: absolute;
  left: 28px;
  top: 70px;
  display: flex;
  align-items: center;
}
.reg-card-img_heart {
  border-radius: 100px;
  background: #fa8232;
  padding: 12px;
  margin-right: 8px;
}
.reg-card-img_cart {
  border-radius: 100px;
  background: #fff;
  padding: 12px;
  margin-right: 8px;
}
.reg-card-img_eye {
  border-radius: 100px;
  background: #fff;
  padding: 12px;
}
.reg-card_description {
  color: #191c1f;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 0 16px;
}
.reg-card_price {
  color: #2da5f3;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 8px 0 16px 16px;
}
.reg-card-old_price {
  color: #929fa5;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: line-through;
  margin-right: 2px;
}
.reg-card-new_price {
  color: #2da5f3;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
.sold-out {
  position: absolute;
  border-radius: 2px;
  background: #929fa5;
  color: #fff;
  font-family: "Public Sans";
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  left: 12px;
  top: 12px;
  padding: 5px 10px;
}
.off19,
.rg-off32 {
  color: #191c1f;
  font-family: "Public Sans";
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  border-radius: 2px;
  background: #efd33d;
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 5px 10px;
}
.rg-hot {
  color: #fff;
  font-family: "Public Sans";
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  border-radius: 2px;
  background: #ee5858;
  position: absolute;
  top: 16px;
  left: 16px;
  padding: 5px 10px;
}
.regular-card_6,
.regular-card_7,
.reg-card_hot,
.reg-card_off32 {
  border-top: none;
}
.categories {
  padding: 0 300px;
  background-color: #fff;
  margin-bottom: 72px;
}
.categories-cards_container {
  display: flex;
  align-items: center;
  position: relative;
}
.categories-title {
  color: #191c1f;
  text-align: center;
  font-family: "Public Sans";
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 40px;
}
.categories-card {
  border-radius: 4px;
  border: 1px solid #e4e7e9;
  background: #fff;
  margin-right: 18px;
}
.categories-card:last-child {
  margin-right: 0;
}
.categories-img {
  padding: 24px 28px;
}
.categories-text {
  color: #191c1f;
  text-align: center;
  font-family: "Public Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 24px;
}
.round-arrow_left,
.round-arrow_right {
  position: absolute;
  top: 92px;
  border-radius: 100px;
  background: #fa8232;
  padding: 12px;
  cursor: pointer;
}
.round-arrow_left {
  left: -22px;
}
.round-arrow_right {
  right: 64px;
}
.products,
.accessories {
  padding: 0 300px;
  margin-bottom: 72px;
  display: flex;
  max-width: 100%;
}
.special-offer_container {
  border-radius: 3px;
  background: #f3de6d;
  max-width: 312px;
}
.so-title {
  color: #be4646;
  text-align: center;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 32px 32px 8px 32px;
}
.so-discount_count {
  color: #191c1f;
  text-align: center;
  font-family: "Public Sans";
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}
.so-discount_category {
  color: #475156;
  text-align: center;
  font-family: "Public Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 12px 0 16px 0;
}
.so-discount-ending_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.so-discount-ending {
  color: #191c1f;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.so-discount-ending_date {
  border-radius: 2px;
  background: #fff;
  color: #191c1f;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 12px;
  margin-left: 8px;
}
.so-button {
  border-radius: 3px;
  background: #fa8232;
  color: #fff;
  font-family: "Public Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.192px;
  text-transform: uppercase;
  border: none;
  padding: 0px 32px;
  padding-right: 68px;
  margin: 32px 61px 16px 60px;
  position: relative;
  cursor: pointer;
}
.so-button_icon {
  position: absolute;
  right: 32px;
  top: 15px;
}
.products-cards_container,
.accessories-cards_container {
  display: flex;
  flex-direction: column;
}
.products-header_container,
.accessories-header_container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
  margin-left: 24px;
  width: 100%;
}
.accessories-header_container {
  margin-left: 0;
}
.products-title,
.accessories-title {
  color: #191c1f;
  font-family: "Public Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-right: auto;
}
.accessories-title {
  margin-right: auto;
}
.products-sorting_container,
.accessories-sorting_container {
  display: flex;
  align-items: center;
}
.products-sorting_title,
.accessories-sorting_title {
  color: #191c1f;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  background: #fff;
  box-shadow: 0px -2px 0px 0px #fa8232 inset;
  padding: 8px;
  cursor: pointer;
}
.products-sorting,
.accessories-sorting {
  color: #5f6c72;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 8px;
  cursor: pointer;
}
.products-link_container,
.accessories-link_container {
  display: flex;
  align-items: center;
  margin-left: 16px;
  position: relative;
}
.products-link,
.accessories-link {
  color: #fa8232;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
}
.products-arrow,
.accessories-arrow {
  position: absolute;
  right: -25px;
}
.products-cards-upper_container,
.accessories-cards-upper_container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-left: 24px;
}
.products-cards-lower_container,
.accessories-cards-lower_container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-left: 24px;
  margin-top: 16px;
}
.accessories-cards-upper_container,
.accessories-cards-lower_container {
  margin-left: 0;
}
.prod-card,
.accessories-card {
  border-radius: 3px;
  border: 1px solid #e4e7e9;
  background: #fff;
  margin-right: 16px;
  position: relative;
  max-width: 234px;
  max-height: 320px;
}
.prod-card:last-child,
.accessories-card:last-child {
  margin-right: 0;
}
.prod-card_hot,
.accessories-card_hot {
  color: #fff;
  font-family: "Public Sans";
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  border-radius: 2px;
  background: #ee5858;
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 5px 10px;
}
.prod-card_bestdeals,
.accessories-card_bestdeals {
  border-radius: 2px;
  background: #2da5f3;
  color: #fff;
  font-family: "Public Sans";
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  padding: 5px 10px;
  position: absolute;
  top: 12px;
  left: 12px;
}
.prod-card_25off,
.accessories-card_25off {
  border-radius: 2px;
  background: #efd33d;
  color: #191c1f;
  font-family: "Public Sans";
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  padding: 5px 10px;
  position: absolute;
  top: 12px;
  left: 12px;
}
.prod-card_sale,
.accessories-card_sale {
  border-radius: 2px;
  background: #2db224;
  padding: 5px 10px;
  position: absolute;
  top: 12px;
  left: 12px;
  color: #fff;
  font-family: "Public Sans";
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}
.prod-card-img_1 {
  background: url(/assets/ProdCard.png);
  margin: 16px;
  margin-bottom: 24px;
}
.prod-card-img_2 {
  background: url(/assets/ProdCard-2.png);
  margin: 16px;
  margin-bottom: 24px;
}
.prod-card-img_3 {
  background: url(/assets/ProdCard-3.png);
  margin: 16px;
  margin-bottom: 24px;
}
.prod-card-img_4 {
  background: url(/assets/ProdCard-4.png);
  margin: 16px;
  margin-bottom: 24px;
}
.prod-card-img_5 {
  background: url(/assets/ProdCard-5.png);
  margin: 16px;
  margin-bottom: 24px;
}
.prod-card-img_6 {
  background: url(/assets/ProdCard-6.png);
  margin: 16px;
  margin-bottom: 24px;
}
.prod-card-img_7 {
  background: url(/assets/ProdCard-7.png);
  margin: 16px;
  margin-bottom: 24px;
  width: 202px;
  height: 172px;
}
.prod-card-img_8 {
  background: url(/assets/ProdCard-8.png);
  margin: 16px;
  margin-bottom: 24px;
}
.prod-card-img_hover {
  height: 172px;
  background: rgb(0, 0, 0);
  opacity: 0;
  position: relative;
}
.prod-card-img_hover:hover {
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: 0.7s ease;
}
.prod-card-img_hover {
  transition: 0.7s ease;
}
.prod-card-icons_container {
  position: absolute;
  left: 28px;
  top: 70px;
  display: flex;
  align-items: center;
}
.prod-card-img_heart {
  border-radius: 100px;
  background: #fff;
  padding: 12px;
  margin-right: 8px;
}
.prod-card-img_cart {
  border-radius: 100px;
  background: #fff;
  padding: 12px;
  margin-right: 8px;
}
.prod-card-img_eye {
  border-radius: 100px;
  background: #fa8232;
  padding: 12px;
}
.prod-card-desc_container,
.accessories-card-desc_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 16px;
  margin-bottom: 16px;
}
.prod-card-star_container,
.accessories-card-star_container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.prod-card_count,
.accessories-card_count {
  color: #77878f;
  font-family: "Public Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-left: 4px;
}
.prod-card_description,
.accessories-card_description {
  color: #191c1f;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 8px;
}
.prod-card-price_container,
.accessories-card-price_container {
  display: flex;
  align-items: center;
}
.prod-card-old_price,
.accessories-card-old_price {
  color: #929fa5;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: line-through;
  margin-right: 4px;
}
.prod-card_price,
.accessories-card_price {
  color: #2da5f3;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
.banners-container {
  display: flex;
  padding: 0px 300px;
  align-items: flex-start;
  margin-bottom: 72px;
  width: 100%;
}
.left-banner_container,
.right-banner_container {
  display: flex;
  padding: 44px;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
  border-radius: 4px;
  background: #f2f4f5;
}
.right-banner_container {
  background: #191c1f;
  padding: 0;
  padding-left: 44px;
}
.description-container,
.right-banner-description_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 40px;
  width: 280px;
  height: 248px;
}
.right-banner-description_container {
  margin-right: 12px;
  padding: 44px 0;
}
.left-banner_label,
.right-banner_label {
  padding: 6px 12px;
  border-radius: 2px;
  background: #2da5f3;
  color: #fff;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 8px;
}
.right-banner_label {
  background: #efd33d;
  color: #191c1f;
}
.left-banner_title,
.right-banner_title {
  color: #191c1f;
  font-family: "Public Sans";
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 20px;
}
.right-banner_title {
  color: #fff;
}
.left-banner_content,
.right-banner_content {
  color: #475156;
  font-family: "Public Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
}
.right-banner_content {
  color: #adb7bc;
}
.banner-button_container {
  position: relative;
}
.left-banner_btn,
.right-banner_btn {
  border-radius: 2px;
  background: #fa8232;
  display: flex;
  padding: 0px 24px;
  padding-right: 48px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.168px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.left-banner-btn_arrow,
.right-banner-btn_arrow {
  position: absolute;
  right: 18px;
  bottom: 15px;
  width: 20px;
  height: 20px;
}
.right-banner_img {
  margin-top: 32px;
}
.accessories-banners_container {
  margin-left: 24px;
}
.accessories-upper-banner_container {
  padding: 32px;
  border-radius: 4px;
  background: #f7e99e;
}
.accessories-ub-content {
  width: 248px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accessories-ub_title {
  color: #191c1f;
  text-align: center;
  font-family: "Public Sans";
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 8px;
}
.accessories-ub_desc {
  color: #475156;
  text-align: center;
  font-family: "Public Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}
.accessories-ub-price_container {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.accessories-ub-price_text {
  color: #475156;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-right: 8px;
}
.accessories-ub_price {
  display: flex;
  padding: 6px 12px;
  align-items: flex-start;
  border-radius: 3px;
  background: #fff;
  color: #191c1f;
  text-align: center;
  font-family: "Public Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.banner-button_container,
.lb-btn_container {
  display: flex;
  padding: 0px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background: #fa8232;
  cursor: pointer;
}
.right-banner-btn_arrow {
  right: 70px;
}
.accessories-lower-banner_container {
  border-radius: 4px;
  background: #124261;
  margin-top: 24px;
}
.accessories-lb-content {
  display: flex;
  padding: 40px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.accessories-lb_title {
  display: flex;
  padding: 6px 12px;
  align-items: flex-start;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.122);
  color: #fff;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
.accessories-lb_discount {
  color: #fff;
  text-align: center;
  font-family: "Public Sans";
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  margin: 12px 0;
}
.accessories-lb_desc {
  color: #fff;
  text-align: center;
  font-family: "Public Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.accessories-lb_smartphone {
  color: #ebc80c;
  font-weight: 600;
}
.accessories-lb-btn_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
.accessories-lb_btn {
  width: 248px;
  padding: 0px 24px;
  background: #2da5f3;
  color: #fff;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.168px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin-top: 24px;
}
.accessories-lb-btn_arrow {
  position: absolute;
  right: 60px;
  bottom: 15px;
  width: 20px;
  height: 20px;
}
.lower-banner {
  width: 1438px;
  height: 424px;
  display: flex;
  justify-content: space-between;
  background: #ffe7d6;
  margin-left: 241px;
  position: relative;
}
.lb-content_container {
  padding: 80px 72px;
  padding-right: 0;
  width: 424px;
}
.lb-label {
  color: #fff;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 12px;
  border-radius: 2px;
  background: #2da5f3;
  width: 141px;
  margin-bottom: 12px;
}
.lb-title {
  color: #191c1f;
  font-family: "Public Sans";
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  margin-bottom: 22px;
}
.lb-content {
  color: #191c1f;
  font-family: "Public Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin: 22px 0;
}
.lb-btn_container {
  max-width: 127px;
}
.lb_btn {
  color: #fff;
  font-family: "Public Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.192px;
  text-transform: uppercase;
  background-color: #fa8232;
  border: none;
  cursor: pointer;
}
.lb-img {
  padding-right: 46px;
}
.lb-price {
  position: absolute;
  right: 478px;
  top: 40px;
  display: inline-flex;
  padding: 41px 24px 41px 25px;
  align-items: flex-start;
  border-radius: 1000px;
  border: 6px solid #fff;
  background: #ffcead;
  color: #191c1f;
  font-family: "Public Sans";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
.products-mini {
  display: flex;
  padding: 72px 300px;
  justify-content: center;
  align-items: center;
}
.prod-mini_title {
  color: #191c1f;
  font-family: "Public Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.prod-mini-card_container {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #e4e7e9;
  background: #fff;
  margin: 16px 24px;
  margin-left: 0;
}
.new-arrival_container {
  margin-right: 0;
}
.prod-mini-content_container {
  margin-left: 12px;
}
.prod-mini-card_desc {
  color: #191c1f;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.prod-mini-card_price {
  color: #2da5f3;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 8px;
}
.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2f4f5;
  padding-top: 72px;
}
.articles-title {
  color: #191c1f;
  text-align: center;
  font-family: "Public Sans";
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}
.articles-container {
  display: flex;
  margin-top: 40px;
}
.art-container {
  max-width: 360px;
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;
  border: 1px solid #e4e7e9;
  background: #fff;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.04);
  margin-right: 24px;
}
.art-container:last-child {
  margin-right: 0;
}
.article-img {
  margin-bottom: 24px;
}
.article-annotation_container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.art-user_icon,
.art-date_icon,
.art-count_icon {
  margin-right: 6px;
}
.art-user_name,
.art-date,
.art-count {
  color: #475156;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.art-user_name,
.art-date {
  margin-right: 16px;
}
.art-title {
  color: #191c1f;
  font-family: "Public Sans";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 12px;
}
.art-content {
  color: #77878f;
  font-family: "Public Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}
.art-button_container {
  max-width: 190px;
  position: relative;
}
.art-btn {
  display: flex;
  padding: 0px 24px;
  padding-right: 48px;
  justify-content: flex-start;
  align-items: center;
  color: #fa8232;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.168px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  border: 1px solid #e4e7e9;
  background: #fff;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.04);
  border-radius: 2px;
  border: 2px solid #ffe7d6;
  cursor: pointer;
}
.art-btn_arrow {
  position: absolute;
  right: 52px;
  top: 15px;
}
.subscribe {
  display: flex;
  padding: 72px 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1b6392;
}
.subscribe-container {
  max-width: 536px;
}
.subscribe-title {
  font-family: "Public sans";
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  color: #fff;
  margin-bottom: 12px;
}
.subscribe-content {
  font-family: "Public sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  opacity: 0.7;
  margin-bottom: 24px;
}
.sub-input_container {
  position: relative;
  border-radius: 3px;
  padding: 12px;
  width: 624px;
  height: 48px;
  background: #fff;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.12);
}
.subscribe-input {
  padding: 0 20px;
  width: 424px;
  height: 48px;
  border: none;
  background: #fff;
  outline: none;
  font-family: "Public sans";
  font-weight: 400;
  font-size: 18px;
}
.subscribe-input::placeholder {
  font-family: "Public sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #77878f;
}
.sub-input-btn_container {
  position: absolute;
  top: 10px;
  right: 10px;
}
.sub-input_btn {
  border-radius: 2px;
  padding: 0px 24px;
  padding-left: 0;
  width: 160px;
  height: 48px;
  background: #fa8232;
  border: none;
  cursor: pointer;
  font-family: "Public sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 343%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}
.sub-input-btn_arrow {
  position: absolute;
  right: 18px;
  top: 13px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.sub-logo_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  width: 552px;
  height: 72px;
}
.footer-container {
  display: flex;
  padding: 72px 300px;
  width: 1920px;
  height: 404px;
  background: #191c1f;
}
.footer-logo_container {
  display: flex;
  align-items: center;
}
.footer-about_container {
  width: 321px;
  height: 216px;
}
.footer-logo_container {
  margin-bottom: 20px;
}
.footer-logo_text {
  font-family: "Public sans";
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #fff;
  margin-left: 8px;
}
.foot-address_container {
  display: flex;
  flex-direction: column;
  width: 250px;
}
.foot-customer_support {
  font-family: "Public sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #77878f;
  margin-bottom: 10px;
}
.foot-input_tel {
  font-family: "Public sans";
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  text-decoration: none;
}
.foot-address {
  font-family: "Public sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #adb7bc;
  margin: 10px 0;
}
.foot-input_email {
  font-family: "Public sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  text-decoration: none;
}
.footer-categories_container,
.footer-links_container,
.footer-app_container,
.foote-tags_container {
  width: 200px;
  margin-right: 24px;
}
.foot-categories_title,
.foot-links_title,
.foot-app_title,
.foot-tags_title {
  color: #FFF;
  font-family: "Public Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.foot-categories_comp,
.foot-categories_smartphone,
.foot-categories_headphone,
.foot-categories_camera,
.foot-categories_tv,
.foot-links_product,
.foot-links_cart,
.foot-links_wishlist,
.foot-links_compare,
.foot-links_track,
.foot-links_help,
.foot-links_about {
  color: #929FA5;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 6px 0px;
}
.foot-categories-title_container {
  display: flex;
  padding: 6px 0px;
  align-items: center;
}
.foot-cat_title {
  margin-left: 8px;
  color: #FFF;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.foot-categories-link_container {
  display: flex;
  padding: 6px 0px;
  align-items: center;
  cursor: pointer;
}
.foot-categories_link {
  color: #EBC80C;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-right: 8px;
  text-decoration: none;
}
.footer-app_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.foot-app_title {
  margin-bottom: 18px;
}
.foot-app-google_link {
  margin-bottom: 12px;
}
.foot-tags_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.foot-tags-row_container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 8px;
}
.foot-tags-row_container:last-child {
  margin-bottom: 0;
}
.active-tag {
  background: #303639;
}
.foot-tag{
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 2px;
  border: 1px solid #303639;
  margin-right: 8px;
  text-decoration: none;
}
.foot-tag:last-child {
  margin-right: 0;
}